extends ./layout

block body
  if !req.session.authenticated
    form.form-horizontal(role='form' method='post' action='/login')
      div.form-group
        label.col-sm-2.control-label(for='username') Username
        div.col-sm-10
          input.form-control#username(type='text' name='username' placeholder='Username')
      div.form-group
        label.col-sm-2.control-label(for='password') Password
        div.col-sm-10
          input.form-control#password( type='password' name='password' placeholder='Password')
      div.form-group
        div.col-sm-offset-3.cols-sm-10
          button.btn.btn-succes( type='submit' ) Submit
  else
    div.panel-body#entrys
    div.panel-body#pagination
        
block scripts
  if req.session.authenticated
    script.
      var limit = 10;
      var skip = 0;
      $.getJSON('/entry?sort=rangeStart DESC&limit=10&skip=0', function(results) {
          $.each(results, function(i, result) {
              var panediv = document.createElement('div');
              panediv.className = 'panel panel-default';
              
              var paneTitle = document.createElement('div');
              paneTitle.className = 'panel-heading';
              paneTitle.innerHTML = result.Title;
              panediv.appendChild(paneTitle);
              
              var contentPane = document.createElement('div');
              contentPane.className = 'panel-body';
              contentPane.innerHTML = result.Body;
              panediv.appendChild(contentPane);
              
              var buttonDiv = document.createElement('div');
              buttonDiv.className = 'btn-group pull-right btn-group-xs';
              
              var btnShow = document.createElement('a');
              btnShow.href = '/entry/show/' + result.id;
              btnShow.className = 'btn btn-success';
              btnShow.innerHTML = 'View';
              
              buttonDiv.appendChild(btnShow);
              
              var btnEdit = document.createElement('a');
              btnEdit.href = '/entry/edit/' + result.id;
              btnEdit.className = 'btn btn-info';
              btnEdit.innerHTML = 'Edit';
              
              buttonDiv.appendChild(btnEdit);
              
              contentPane.appendChild(buttonDiv);
              
              $('#entrys').append(panediv);
          });
          console.log(results.length);
          if (results.length === limit) {
          }
      });
      $('#entrys div').expander();