doctype html
html
  head
    title= title

    meta(name="viewport",content="width=device-width, initial-scale=1, maximum-scale=1")

    // STYLES
    link(rel="stylesheet", href="/styles/importer.css")
    // STYLES END

    block styles

  body
    
    div.container
      nav.navbar.navbar-default(role='navigation')
        div.container-fluid
          div.navbar-header
            button.navbar-toggle.collapsed(data-toggle='collapse' data-target='navbar')
              span.sr-only |Toggle navigation
              span.icon-bar
            a.navbar-brand(href='/') Diary
          div.navbar-colapse#main_content
            ul.nav.navbar-nav
              if req.session.authenticated
                li.active
                  a(href='/entry/new') New entry
              else
                li.active
                  a(href='/user/new') Create account
            ul.nav.navbar-nav.navbar-right
              if req.session.authenticated
                li.dropdown
                  a.dropdown-toggle(href='#' data-toggle='dropdown') #{req.session.user.firstName }
                    span.caret
                  ul.dropdown-menu(role='menu')
                    li
                      a(href='/user/show/' + req.session.user.id) View profile
                    li.divider
                    if req.session.user.isAdmin
                      li
                        a(href='/user') Users
                    li
                      a(href='/logout') Logout
      div.panel.panel-body
        block body

    // SCRIPTS
    script(src="/js/dependencies/sails.io.js")
    script(src="/js/dependencies/jquery-2.1.1.js")
    script(src="/js/dependencies/bootstrap.js")
    script(src="/js/dependencies/expander.js")
    script(src="/js/ckeditor/adapters/jquery.js")
    script(src="/js/ckeditor/build-config.js")
    script(src="/js/ckeditor/ckeditor.js")
    script(src="/js/ckeditor/config.js")
    script(src="/js/ckeditor/lang/en.js")
    script(src="/js/ckeditor/plugins/a11yhelp/dialogs/a11yhelp.js")
    script(src="/js/ckeditor/plugins/a11yhelp/dialogs/lang/ar.js")
    script(src="/js/ckeditor/plugins/a11yhelp/dialogs/lang/bg.js")
    script(src="/js/ckeditor/plugins/a11yhelp/dialogs/lang/ca.js")
    script(src="/js/ckeditor/plugins/a11yhelp/dialogs/lang/cs.js")
    script(src="/js/ckeditor/plugins/a11yhelp/dialogs/lang/cy.js")
    script(src="/js/ckeditor/plugins/a11yhelp/dialogs/lang/da.js")
    script(src="/js/ckeditor/plugins/a11yhelp/dialogs/lang/de.js")
    script(src="/js/ckeditor/plugins/a11yhelp/dialogs/lang/el.js")
    script(src="/js/ckeditor/plugins/a11yhelp/dialogs/lang/en-gb.js")
    script(src="/js/ckeditor/plugins/a11yhelp/dialogs/lang/en.js")
    script(src="/js/ckeditor/plugins/a11yhelp/dialogs/lang/eo.js")
    script(src="/js/ckeditor/plugins/a11yhelp/dialogs/lang/es.js")
    script(src="/js/ckeditor/plugins/a11yhelp/dialogs/lang/et.js")
    script(src="/js/ckeditor/plugins/a11yhelp/dialogs/lang/fa.js")
    script(src="/js/ckeditor/plugins/a11yhelp/dialogs/lang/fi.js")
    script(src="/js/ckeditor/plugins/a11yhelp/dialogs/lang/fr-ca.js")
    script(src="/js/ckeditor/plugins/a11yhelp/dialogs/lang/fr.js")
    script(src="/js/ckeditor/plugins/a11yhelp/dialogs/lang/gl.js")
    script(src="/js/ckeditor/plugins/a11yhelp/dialogs/lang/gu.js")
    script(src="/js/ckeditor/plugins/a11yhelp/dialogs/lang/he.js")
    script(src="/js/ckeditor/plugins/a11yhelp/dialogs/lang/hi.js")
    script(src="/js/ckeditor/plugins/a11yhelp/dialogs/lang/hr.js")
    script(src="/js/ckeditor/plugins/a11yhelp/dialogs/lang/hu.js")
    script(src="/js/ckeditor/plugins/a11yhelp/dialogs/lang/id.js")
    script(src="/js/ckeditor/plugins/a11yhelp/dialogs/lang/it.js")
    script(src="/js/ckeditor/plugins/a11yhelp/dialogs/lang/ja.js")
    script(src="/js/ckeditor/plugins/a11yhelp/dialogs/lang/km.js")
    script(src="/js/ckeditor/plugins/a11yhelp/dialogs/lang/ko.js")
    script(src="/js/ckeditor/plugins/a11yhelp/dialogs/lang/ku.js")
    script(src="/js/ckeditor/plugins/a11yhelp/dialogs/lang/lt.js")
    script(src="/js/ckeditor/plugins/a11yhelp/dialogs/lang/lv.js")
    script(src="/js/ckeditor/plugins/a11yhelp/dialogs/lang/mk.js")
    script(src="/js/ckeditor/plugins/a11yhelp/dialogs/lang/mn.js")
    script(src="/js/ckeditor/plugins/a11yhelp/dialogs/lang/nb.js")
    script(src="/js/ckeditor/plugins/a11yhelp/dialogs/lang/nl.js")
    script(src="/js/ckeditor/plugins/a11yhelp/dialogs/lang/no.js")
    script(src="/js/ckeditor/plugins/a11yhelp/dialogs/lang/pl.js")
    script(src="/js/ckeditor/plugins/a11yhelp/dialogs/lang/pt-br.js")
    script(src="/js/ckeditor/plugins/a11yhelp/dialogs/lang/pt.js")
    script(src="/js/ckeditor/plugins/a11yhelp/dialogs/lang/ro.js")
    script(src="/js/ckeditor/plugins/a11yhelp/dialogs/lang/ru.js")
    script(src="/js/ckeditor/plugins/a11yhelp/dialogs/lang/si.js")
    script(src="/js/ckeditor/plugins/a11yhelp/dialogs/lang/sk.js")
    script(src="/js/ckeditor/plugins/a11yhelp/dialogs/lang/sl.js")
    script(src="/js/ckeditor/plugins/a11yhelp/dialogs/lang/sq.js")
    script(src="/js/ckeditor/plugins/a11yhelp/dialogs/lang/sr-latn.js")
    script(src="/js/ckeditor/plugins/a11yhelp/dialogs/lang/sr.js")
    script(src="/js/ckeditor/plugins/a11yhelp/dialogs/lang/sv.js")
    script(src="/js/ckeditor/plugins/a11yhelp/dialogs/lang/th.js")
    script(src="/js/ckeditor/plugins/a11yhelp/dialogs/lang/tr.js")
    script(src="/js/ckeditor/plugins/a11yhelp/dialogs/lang/tt.js")
    script(src="/js/ckeditor/plugins/a11yhelp/dialogs/lang/ug.js")
    script(src="/js/ckeditor/plugins/a11yhelp/dialogs/lang/uk.js")
    script(src="/js/ckeditor/plugins/a11yhelp/dialogs/lang/vi.js")
    script(src="/js/ckeditor/plugins/a11yhelp/dialogs/lang/zh-cn.js")
    script(src="/js/ckeditor/plugins/a11yhelp/dialogs/lang/zh.js")
    script(src="/js/ckeditor/plugins/about/dialogs/about.js")
    script(src="/js/ckeditor/plugins/clipboard/dialogs/paste.js")
    script(src="/js/ckeditor/plugins/colordialog/dialogs/colordialog.js")
    script(src="/js/ckeditor/plugins/dialog/dialogDefinition.js")
    script(src="/js/ckeditor/plugins/div/dialogs/div.js")
    script(src="/js/ckeditor/plugins/find/dialogs/find.js")
    script(src="/js/ckeditor/plugins/flash/dialogs/flash.js")
    script(src="/js/ckeditor/plugins/forms/dialogs/button.js")
    script(src="/js/ckeditor/plugins/forms/dialogs/checkbox.js")
    script(src="/js/ckeditor/plugins/forms/dialogs/form.js")
    script(src="/js/ckeditor/plugins/forms/dialogs/hiddenfield.js")
    script(src="/js/ckeditor/plugins/forms/dialogs/radio.js")
    script(src="/js/ckeditor/plugins/forms/dialogs/select.js")
    script(src="/js/ckeditor/plugins/forms/dialogs/textarea.js")
    script(src="/js/ckeditor/plugins/forms/dialogs/textfield.js")
    script(src="/js/ckeditor/plugins/iframe/dialogs/iframe.js")
    script(src="/js/ckeditor/plugins/image/dialogs/image.js")
    script(src="/js/ckeditor/plugins/link/dialogs/anchor.js")
    script(src="/js/ckeditor/plugins/link/dialogs/link.js")
    script(src="/js/ckeditor/plugins/liststyle/dialogs/liststyle.js")
    script(src="/js/ckeditor/plugins/pastefromword/filter/default.js")
    script(src="/js/ckeditor/plugins/scayt/dialogs/options.js")
    script(src="/js/ckeditor/plugins/smiley/dialogs/smiley.js")
    script(src="/js/ckeditor/plugins/specialchar/dialogs/lang/ar.js")
    script(src="/js/ckeditor/plugins/specialchar/dialogs/lang/bg.js")
    script(src="/js/ckeditor/plugins/specialchar/dialogs/lang/ca.js")
    script(src="/js/ckeditor/plugins/specialchar/dialogs/lang/cs.js")
    script(src="/js/ckeditor/plugins/specialchar/dialogs/lang/cy.js")
    script(src="/js/ckeditor/plugins/specialchar/dialogs/lang/de.js")
    script(src="/js/ckeditor/plugins/specialchar/dialogs/lang/el.js")
    script(src="/js/ckeditor/plugins/specialchar/dialogs/lang/en-gb.js")
    script(src="/js/ckeditor/plugins/specialchar/dialogs/lang/en.js")
    script(src="/js/ckeditor/plugins/specialchar/dialogs/lang/eo.js")
    script(src="/js/ckeditor/plugins/specialchar/dialogs/lang/es.js")
    script(src="/js/ckeditor/plugins/specialchar/dialogs/lang/et.js")
    script(src="/js/ckeditor/plugins/specialchar/dialogs/lang/fa.js")
    script(src="/js/ckeditor/plugins/specialchar/dialogs/lang/fi.js")
    script(src="/js/ckeditor/plugins/specialchar/dialogs/lang/fr-ca.js")
    script(src="/js/ckeditor/plugins/specialchar/dialogs/lang/fr.js")
    script(src="/js/ckeditor/plugins/specialchar/dialogs/lang/gl.js")
    script(src="/js/ckeditor/plugins/specialchar/dialogs/lang/he.js")
    script(src="/js/ckeditor/plugins/specialchar/dialogs/lang/hr.js")
    script(src="/js/ckeditor/plugins/specialchar/dialogs/lang/hu.js")
    script(src="/js/ckeditor/plugins/specialchar/dialogs/lang/id.js")
    script(src="/js/ckeditor/plugins/specialchar/dialogs/lang/it.js")
    script(src="/js/ckeditor/plugins/specialchar/dialogs/lang/ja.js")
    script(src="/js/ckeditor/plugins/specialchar/dialogs/lang/km.js")
    script(src="/js/ckeditor/plugins/specialchar/dialogs/lang/ku.js")
    script(src="/js/ckeditor/plugins/specialchar/dialogs/lang/lv.js")
    script(src="/js/ckeditor/plugins/specialchar/dialogs/lang/nb.js")
    script(src="/js/ckeditor/plugins/specialchar/dialogs/lang/nl.js")
    script(src="/js/ckeditor/plugins/specialchar/dialogs/lang/no.js")
    script(src="/js/ckeditor/plugins/specialchar/dialogs/lang/pl.js")
    script(src="/js/ckeditor/plugins/specialchar/dialogs/lang/pt-br.js")
    script(src="/js/ckeditor/plugins/specialchar/dialogs/lang/pt.js")
    script(src="/js/ckeditor/plugins/specialchar/dialogs/lang/ru.js")
    script(src="/js/ckeditor/plugins/specialchar/dialogs/lang/si.js")
    script(src="/js/ckeditor/plugins/specialchar/dialogs/lang/sk.js")
    script(src="/js/ckeditor/plugins/specialchar/dialogs/lang/sl.js")
    script(src="/js/ckeditor/plugins/specialchar/dialogs/lang/sq.js")
    script(src="/js/ckeditor/plugins/specialchar/dialogs/lang/sv.js")
    script(src="/js/ckeditor/plugins/specialchar/dialogs/lang/th.js")
    script(src="/js/ckeditor/plugins/specialchar/dialogs/lang/tr.js")
    script(src="/js/ckeditor/plugins/specialchar/dialogs/lang/tt.js")
    script(src="/js/ckeditor/plugins/specialchar/dialogs/lang/ug.js")
    script(src="/js/ckeditor/plugins/specialchar/dialogs/lang/uk.js")
    script(src="/js/ckeditor/plugins/specialchar/dialogs/lang/vi.js")
    script(src="/js/ckeditor/plugins/specialchar/dialogs/lang/zh-cn.js")
    script(src="/js/ckeditor/plugins/specialchar/dialogs/lang/zh.js")
    script(src="/js/ckeditor/plugins/specialchar/dialogs/specialchar.js")
    script(src="/js/ckeditor/plugins/table/dialogs/table.js")
    script(src="/js/ckeditor/plugins/tabletools/dialogs/tableCell.js")
    script(src="/js/ckeditor/plugins/templates/dialogs/templates.js")
    script(src="/js/ckeditor/plugins/templates/templates/default.js")
    script(src="/js/ckeditor/plugins/wsc/dialogs/wsc.js")
    script(src="/js/ckeditor/plugins/wsc/dialogs/wsc_ie.js")
    script(src="/js/ckeditor/samples/assets/uilanguages/languages.js")
    script(src="/js/ckeditor/samples/plugins/dialog/assets/my_dialog.js")
    script(src="/js/ckeditor/samples/plugins/htmlwriter/assets/outputforflash/swfobject.js")
    script(src="/js/ckeditor/samples/sample.js")
    script(src="/js/ckeditor/styles.js")
    script(src="/js/site.js")
    // SCRIPTS END
    block scripts