extends ../layout

block body
    div.panel-heading
        | #{ user.username }'s Information
    div.panel-body
        form(role='form' action='/user/update/#{ user.id }' method='get')
            div.form-group
                label(for='firstName')
                    | First name
                input#firstName(type='text' name='firstName')
            div.form-group
                label(for='lasName') 
                    | First name
                input#lastName(type='text' name='lastName')
            div.form-group
                label(for='isAdmin')
                    | Admin
                input#isAdmin(type='checkbox' value='true' name='isAdmin')
            button.btn.btn-default(type='submit')
                | Submit
block scripts
    script.
        $.getJSON('/user/#{ user.id }', function(data) {
            $('#firstName').val(data['firstName']);
            $('#lastName').val(data['lastName']);
            $('#isAdmin').prop('checked', data['isAdmin']);
        });