extends ../layout
block body
    div.panel-body
        table.table.table-striped
            thead
                tr
                    th 
                        | ID
                    th 
                        | Username
                    th 
                        | First Name
                    th 
                        | Last Name
                    th 
                        | Is Admin
                    th
                        | Options
            tbody
                each user in users
                    tr
                        td #{ user.id }
                        td #{user.username }
                        td #{ user.firstName }
                        td #{ user.lastName }
                        td
                            input(type='checkbox' if user.isAdmin checked )
                        td
                            div.btn-group.btn-group-xs
                                a.btn.btn-success(href='/user/show/#{ user.id }')
                                    | View
                                a.btn.btn-primary(href='/user/edit/#{ user.id }')
                                    | Edit
                                a.btn.btn-danger(href='/user/destroy/#{ user.id }')
                                    | Delete