extends ../layout
block body
    div.panel-body
        form.form-signin(role='form' action="/user/create" mothod="POST")
            divform-group
                | First Name:
                input.form-control(type='text' name='firstName' required)
            div.form-group
                | Last Name:
                input.form-control(type='text' name='lastName' required)
            div.form-group
                | Username:
                input.form-control(type='text' name="username" required)
            div.form-group
                | Password:
                input.form-control(type='password' name='password' required)
            input.btn.btn-small(type='submit')