extends ../layout

block body
    div.panel-heading
        | User Information
    div.panel-body
        p(style='white-space:pre;')
            | First Name: #{ user.firstName }
            | Last Name: #{ user.lastName }
            | Username: #{ user.username }