extends ../layout

block body
    div.panel-body
        form(role='form' action='/entry/update/#{ entry.id }' method='post')
            div.form-group
                div.input-group
                    span.input-group-addon
                        | Title
                    input#Title(type='text' name='Title' value="#{ entry.Title }")
            div.form-group
                label(for='lastName')
                    | First Name
                textarea#Body(name='Body')
                    | #{ entry.Body }
            div.form-group
                div.input-group
                    span.input-group-addon
                        | Start Date
                    input#rangeStart(type='date' name='rangeStart' value="#{ moment(entry.rangeStart).format('YYYY-MM-DD') }")
            div.form-group
                div.input-group
                    span.input-group-addon
                        | End Date
                    input#rangeEnd(type='date' name='rangeEnd' value="#{ moment(entry.rangeEnd).format('YYYY-MM-DD') }")
            button.btn.btn-default(type='submit')
                | Submit
block scripts
    script(src="/js/ckeditor/ckeditor.js")
    script.
        CKEDITOR.replace('Body');