extends ../layout

block body
    div.panel-body
        form(role='form' action='/entry/create' method='post')
            div.form-group
                div.input-group
                    span.input-group-addon
                        | Title
                    input#Title(type='text' name='Title' placeholder='Title')
            div.form-group
                label(for='Body')
                    | Body
                textarea#Body(name='Body')
            div.form-group
                div.input-group
                    span.input-group-addon
                        | Start Date
                    input#rangeStart(type='date' value='true' name='rangeStart')
            div.form-group
                div.input-group
                    span.input-group-addon
                        | End Date
                    input#rangeEnd(type='date' value='true' name='rangeEnd')
            button.btn.btn-default(type='submit')
                | Submit

block scripts
    script(src='/js/ckeditor/ckeditor.js')
    script.
        CKEDITOR.replace('Body');