extends ../layout

block body
    div.panel-body
        div#entry
        div#editBtn
            a.btn.btn-primary#editBtn
                | Edit

block scripts
    script.
        $.getJSON('/entrys/#{ entry }', function(result) {
            var panediv = document.createElement('div');
            panediv.className = 'panel panel-default';

            var paneTitle = document.createElement('div');
            paneTitle.className = 'panel-heading';
            paneTitle.innerHTML = result.Title;
            panediv.appendChild(paneTitle);

            var contentPane = document.createElement('div');
            contentPane.className = 'panel-body';
            contentPane.innerHTML = result.Body;
            panediv.appendChild(contentPane);

            var start = document.createElement('p');
            start.className = 'text-muted';
            start.innerHTML = result.rangeStart + " - " + result.rangeEnd;

            $('a#editBtn').href = '/entry/edit/' + result.id;

            $('#entry').append(panediv);
            $('#entry').append(start);
        });